# https://github.com/pixiebrix/webext-messenger/network/updates
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday
      time: "08:42"
      timezone: Etc/UTC
    open-pull-requests-limit: 20
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
      day: sunday
      time: "08:42"
      timezone: Etc/UTC
    versioning-strategy: increase # Update package.json too https://stackoverflow.com/a/66819358/288906
    open-pull-requests-limit: 30
    assignees:
      - grahamlangford
